{:identity "berxuy549uvz2y6"
 :patch
{:cables
{["1dcoe08w4hcxs5f" 0] [:fixed "n0webur96139lss" 0]
 ["1dcoe08w4hcxs5f" 1] [:fixed "c3c27q11jlvkng" 0]
 ["1zma7u2bauy212w" 0] [:fixed "fk4lxdxagost7pe" 0]
 ["2l5ois2vbb9kjo7" 0] [:fixed "wlfa3bqeuweq4uc" 0]
 ["2q8bv62yx3088v8" 0] [:fixed "vi13qapnvcr2aot" 0]
 ["2q8bv62yx3088v8" 1] [:fixed "fw61r6rxv3t3ch0" 0]
 ["2q8bv62yx3088v8" 2] [:fixed "3h95h2eo7202r1x" 0]
 ["3h95h2eo7202r1x" 0] [:fixed "cnrda8b1szrrsxm" 0]
 ["3h95h2eo7202r1x" 1] [:fixed "hy4lehcs45813gi" 0]
 ["47h2fylfw4q2j31" 0] [:fixed "op0du9fmebrk9k8" 0]
 ["4w8f916dpafn1hh" 0] [:fixed "1dcoe08w4hcxs5f" 0]
 ["7jkc6gd9idaod7u" 0] [:fixed "x4c92a8y94st4f7" 0]
 ["7jkc6gd9idaod7u" 1] [:fixed "m0c1uhhnr2w5vsl" 0]
 ["7jkc6gd9idaod7u" 2] [:fixed "33vbsh56kuf8g0o" 0]
 ["8c780x51jsv54g0" 0] [:fixed "92zvz86bk2vrmgo" 0]
 ["8n1d783gdne3d" 0] [:fixed "1zma7u2bauy212w" 0]
 ["9hz5j56m8zx00ye" 0] [:fixed "x4c92a8y94st4f7" 0]
 ["9hz5j56m8zx00ye" 1] [:fixed "8nwo6tnhwvvcdgz" 0]
 ["cnrda8b1szrrsxm" 0] [:fixed "x4c92a8y94st4f7" 0]
 ["eds4r39ym2mii0" 0] [:fixed "8n1d783gdne3d" 0]
 ["eqt9umf85ajoy0n" 0] [:fixed "x4c92a8y94st4f7" 0]
 ["eqt9umf85ajoy0n" 1] [:fixed "cjn89x2ar4iv4kb" 0]
 ["fw61r6rxv3t3ch0" 0] [:fixed "pkd4mcxrq46x9um" 0]
 ["mbk5v3ptbrag6vp" 0] [:fixed "ndjqu6a2bch8elg" 0]
 ["mbk5v3ptbrag6vp" 1] [:fixed "vx84ncxdiomjh4f" 0]
 ["n0webur96139lss" 0] [:fixed "aoglhz44jnge4si" 0]
 ["n0webur96139lss" 1] [:fixed "7jkc6gd9idaod7u" 0]
 ["ntf6b69cb8v124t" 0] [:fixed "rnzap371y8dn5sa" 0]
 ["op0du9fmebrk9k8" 0] [:fixed "2q8bv62yx3088v8" 0]
 ["pkd4mcxrq46x9um" 0] [:fixed "eds4r39ym2mii0" 0]
 ["pkd4mcxrq46x9um" 1] [:fixed "zoqjcic3z5n5l04" 0]
 ["rnzap371y8dn5sa" 0] [:fixed "8c780x51jsv54g0" 0]
 ["rnzap371y8dn5sa" 1] [:fixed "pjyyl95v5tv7co" 0]
 ["rnzap371y8dn5sa" 2] [:fixed "ujl2u46wy3cpyc3" 0]
 ["ujl2u46wy3cpyc3" 0] [:fixed "eqt9umf85ajoy0n" 0]
 ["vi13qapnvcr2aot" 0] [:fixed "mbk5v3ptbrag6vp" 0]
 ["vi13qapnvcr2aot" 1] [:fixed "3h95h2eo7202r1x" 0]
 ["vx84ncxdiomjh4f" 0] [:fixed "x4c92a8y94st4f7" 0]
 ["vx84ncxdiomjh4f" 1] [:fixed "tb52ot5225p11uv" 0]
 ["wlfa3bqeuweq4uc" 0] [:fixed "4w8f916dpafn1hh" 0]
 ["x4c92a8y94st4f7" 0] [:fixed "vbjnsw56cxo9wj8" 0]
 ["zoqjcic3z5n5l04" 0] [:fixed "9hz5j56m8zx00ye" 0]}
 :nodes
{"1dcoe08w4hcxs5f" 
{:color 2
 :inputs ["sig" "rate"]
 :label "Control:Smooth-Audio($sig $rate)"
 :outputs [""]
 :parsed [:fn "Control:Smooth-Audio" [:tuple [:free-var "sig"] [:free-var "rate"]]]
 :pos [217 -63]}
 "1zma7u2bauy212w" 
{:color 3
 :inputs ["freq"]
 :label "Gen:Tri($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Tri" [:tuple [:free-var "freq"]]]
 :pos [-4 436]}
 "2l5ois2vbb9kjo7" 
{:color 2
 :inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [492 -63]}
 "2q8bv62yx3088v8" 
{:color 3
 :inputs ["sig" "cutoff" "resonance"]
 :label "Filter:Lowpass($sig $cutoff $resonance)"
 :outputs [""]
 :parsed [:fn "Filter:Lowpass" [:tuple [:free-var "sig"] [:free-var "cutoff"] [:free-var "resonance"]]]
 :pos [332 254]}
 "33vbsh56kuf8g0o" 
{:color 2
 :inputs []
 :label "[0 3 6 9]"
 :outputs [""]
 :parsed [:list [:float "0"] [:float "3"] [:float "6"] [:float "9"]]
 :pos [-405 -224]}
 "3h95h2eo7202r1x" 
{:color 3
 :inputs ["sig" "rate"]
 :label "Control:Smooth($sig $rate)"
 :outputs [""]
 :parsed [:fn "Control:Smooth" [:tuple [:free-var "sig"] [:free-var "rate"]]]
 :pos [154 81]}
 "47h2fylfw4q2j31" 
{:color 3
 :inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [542 212]}
 "4w8f916dpafn1hh" 
{:color 2
 :inputs ["freq"]
 :label "Gen:Sin($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Sin" [:tuple [:free-var "freq"]]]
 :pos [339 -63]}
 "7jkc6gd9idaod7u" 
{:color 2
 :ephemeral-inputs #{"notes"}
 :inputs ["bpm" "octaves" "notes" "notes..."]
 :label "Arpeggiator<->($bpm $octaves $notes...)"
 :outputs [""]
 :parsed [:fn "Arpeggiator<->" [:tuple [:free-var "bpm"] [:free-var "octaves"] [:free-var "notes"] [:free-var "notes..."]]]
 :pos [-153 -124]}
 "8c780x51jsv54g0" 
{:inputs ["seed"]
 :label "Gen:Noise($seed)"
 :outputs [""]
 :parsed [:fn "Gen:Noise" [:tuple [:free-var "seed"]]]
 :pos [-43 -312]}
 "8n1d783gdne3d" 
{:color 3
 :inputs ["a"]
 :label "* 3000"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "3000"]]
 :pos [96 436]}
 "8nwo6tnhwvvcdgz" 
{:color 3
 :inputs []
 :label "[Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0)]"
 :outputs [""]
 :parsed [:list [:widget "-vegfqc" 0.3333333333333333 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "-asght9" 0.6666666666666666 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "-tq7ghq" 0 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "-3fjcca" 0.6666666666666666 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "-jtiu5u" 0.6666666666666666 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "-jamg1u" 0 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "p9bxor" 0.6666666666666666 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "xu2ek1" 0.6666666666666666 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}]]
 :pos [-384 256]}
 "92zvz86bk2vrmgo" 
{:inputs []
 :label "0.499d"
 :outputs [""]
 :parsed [:double "0.499"]
 :pos [-199 -312]}
 "9hz5j56m8zx00ye" 
{:color 3
 :ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Artikulator($bpm $pat...)"
 :outputs [""]
 :parsed [:fn "Artikulator" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [-200 338]}
 "aoglhz44jnge4si" 
{:color 2
 :inputs []
 :label "110"
 :outputs [""]
 :parsed [:float "110"]
 :pos [-171 -45]}
 "c3c27q11jlvkng" 
{:color 2
 :inputs []
 :label "50"
 :outputs [""]
 :parsed [:float "50"]
 :pos [188 -154]}
 "cjn89x2ar4iv4kb" 
{:inputs []
 :label "[Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0) Select([0 0.1 1] 0)]"
 :outputs [""]
 :parsed [:list [:widget "-g96j8c" 0.3333333333333333 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "-ex2oee" 0 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "noj0l5" 0 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "b3yqre" 0 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "-ph2s0w" 0.3333333333333333 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "1xpdw4" 0 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "-hqs8yz" 0 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}] [:widget "gklbdl" 0 {:type :toggle, :render [:states], :states [[:float "0"] [:float "0.1"] [:float "1"]]}]]
 :pos [-330 -495]}
 "cnrda8b1szrrsxm" 
{:color 3
 :inputs ["bpm"]
 :label "Random-Seq($bpm 1 0.01 0.99)"
 :outputs [""]
 :parsed [:fn "Random-Seq" [:tuple [:free-var "bpm"] [:float "1"] [:float "0.01"] [:float "0.99"]]]
 :pos [-146 67]}
 "eds4r39ym2mii0" 
{:color 3
 :inputs ["a"]
 :label "+ 3100"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "3100"]]
 :pos [213 436]}
 "eqt9umf85ajoy0n" 
{:ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Artikulator($bpm $pat...)"
 :outputs [""]
 :parsed [:fn "Artikulator" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [-166 -401]}
 "fk4lxdxagost7pe" 
{:color 3
 :inputs []
 :label "0.02"
 :outputs [""]
 :parsed [:number-widget :float "yibkw6" "0.052976" ""]
 :pos [-116 436]}
 "fw61r6rxv3t3ch0" 
{:color 3
 :inputs ["a"]
 :label "+ 100"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "100"]]
 :pos [458 392]}
 "hy4lehcs45813gi" 
{:color 3
 :inputs []
 :label "15"
 :outputs [""]
 :parsed [:float "15"]
 :pos [53 13]}
 "m0c1uhhnr2w5vsl" 
{:color 2
 :inputs []
 :label "4"
 :outputs [""]
 :parsed [:number-widget :float "-ldubqp" "4" ""]
 :pos [-369 -168]}
 "mbk5v3ptbrag6vp" 
{:color 3
 :inputs ["freq" "steps"]
 :label "Semitone->Freq($freq $steps)"
 :outputs [""]
 :parsed [:fn "Semitone->Freq" [:tuple [:free-var "freq"] [:free-var "steps"]]]
 :pos [-9 181]}
 "n0webur96139lss" 
{:color 2
 :inputs ["freq" "steps"]
 :label "Semitone->Freq($freq $steps)"
 :outputs [""]
 :parsed [:fn "Semitone->Freq" [:tuple [:free-var "freq"] [:free-var "steps"]]]
 :pos [6 -68]}
 "ndjqu6a2bch8elg" 
{:color 3
 :inputs []
 :label "55"
 :outputs [""]
 :parsed [:float "55"]
 :pos [-178 178]}
 "ntf6b69cb8v124t" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [267 -257]}
 "op0du9fmebrk9k8" 
{:color 3
 :inputs ["a"]
 :label "* 0.3"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "0.3"]]
 :pos [463 254]}
 "pjyyl95v5tv7co" 
{:inputs []
 :label "0.2"
 :outputs [""]
 :parsed [:float "0.2"]
 :pos [37 -351]
 :selected true}
 "pkd4mcxrq46x9um" 
{:color 3
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [367 392]}
 "rnzap371y8dn5sa" 
{:cable-midpoints 
{}
 :ephemeral-inputs #{"more"}
 :inputs ["a" "b" "more" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more"] [:free-var "more..."]]
 :pos [165 -310]}
 "tb52ot5225p11uv" 
{:color 3
 :inputs []
 :label "[0 0 3]"
 :outputs [""]
 :parsed [:list [:float "0"] [:float "0"] [:float "3"]]
 :pos [-499 99]}
 "ujl2u46wy3cpyc3" 
{:inputs ["gate"]
 :label "Envelope:ADSR($gate 0.01 0.05 0.5 0.1)"
 :outputs [""]
 :parsed [:fn "Envelope:ADSR" [:tuple [:free-var "gate"] [:float "0.01"] [:float "0.05"] [:float "0.5"] [:float "0.1"]]]
 :pos [152 -401]}
 "vbjnsw56cxo9wj8" 
{:color 0
 :inputs []
 :label "108"
 :outputs [""]
 :parsed [:float "108"]
 :pos [-698 -165]}
 "vi13qapnvcr2aot" 
{:color 3
 :inputs ["freq" "width"]
 :label "Gen:Pulse($freq $width)"
 :outputs [""]
 :parsed [:fn "Gen:Pulse" [:tuple [:free-var "freq"] [:free-var "width"]]]
 :pos [190 239]}
 "vx84ncxdiomjh4f" 
{:color 3
 :ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Pattern-Seq($bpm $pat...)"
 :outputs [""]
 :parsed [:fn "Pattern-Seq" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [-333 152]}
 "wlfa3bqeuweq4uc" 
{:color 2
 :inputs ["a"]
 :label "* 0.2"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "0.2"]]
 :pos [417 -63]}
 "x4c92a8y94st4f7" 
{:color 0
 :inputs ["a"]
 :label "* 2"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:number-widget :float "8o4b9t" "4" ""]]
 :pos [-582 -116]}
 "zoqjcic3z5n5l04" 
{:color 3
 :inputs ["gate"]
 :label "Envelope:ADSR($gate 0.01 0.1 0.5 0.03)"
 :outputs [""]
 :parsed [:fn "Envelope:ADSR" [:tuple [:free-var "gate"] [:float "0.01"] [:float "0.1"] [:float "0.5"] [:float "0.03"]]]
 :pos [111 344]}}
 :scale 0.972550163277498
 :scroll [0 0]}}